@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.employee {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  border-radius: 3px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.plays {
  background-color: #064093;
  border-radius: 3px;
}

.stats {
  background-color: white;
  color: white;
  border-radius: 3px;
}

.game-details {
  background-color: #064093;
  height: 20%;
  border-radius: 3px;
  padding: 10px;
}

.possession-1 {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  background-color: #0262B2;
  height: 10%;
  border-radius: 3px;
}

.possession-1 img {
  margin-left: 72%;
}

.possession-2 {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px;
  background-color: #0262B2;
  height: 10%;
  border-radius: 3px;
  text-align: right;
  justify-content: flex-end;
}

.possession-2 img {
  margin-right: 70%;
}

/* .inactive {
  background-color: #0262B2;
  height: 10%;
  border-radius: 3px;
}

.active {
  background-color: #00FF00;
  border-radius: 3px;
} */

.team-container-admin {
  background-color: #0262B2;
  height: 24%;
  border-radius: 3px;
  padding: 10px;
}

.team-container-client {
  height: 24%;
  border-radius: 3px;
  padding: 10px;
}

.team-container p {
  font-weight: bold;
}

.team-title-admin {
  height: 10%;
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
}

.team-title-client {
  height: 10%;
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
}

.team-table-admin {
  height: 30%;
  width: 100%;
}

.team-table-admin tr {
  background-color: #669AE5;
  vertical-align: center;
  text-align: center;
  border-radius: 3px;
}

.team-table-admin th {
  background-color: #064093;
  vertical-align: center;
  text-align: center;
  border-radius: 3px;
}

.team-table-client {
  height: 30%;
  width: 50%;
}

.team-table-client tr {
  background-color: #D8D8D8;
  vertical-align: center;
  text-align: center;
  border-radius: 3px;
}

.team-table-client th {
  background-color: #D8D8D8;
  vertical-align: center;
  text-align: center;
  border-radius: 3px;
}

.team-coaches-container p {
  font-weight: bold;
}

.team-coaches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1em;
  height: 20%;
  width: 100%;
}

.stats-container {
  display: flex;
  justify-content: center;
  background-color: #0474D2;
  padding: 5px;
  border-radius: 3px;
}

.timer-container {
  /* background-color: white; */
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 3px;
  width: 100%;
}

.timer-stop {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
  text-align: center;
  align-items: center;
  /* height: 20%; */
}

.timer-admin {
  display: flex;
  flex-direction: column;
  background-color: #0262B2;
  height: 66%;
  width: 33%;
  justify-content: center;
  color: white;
  border-radius: 3px;
}

.timer-nums {
  font-size: 2.5em;
  height: 80%;
}

.timer-period {
  font-size: .7em;
  height: 20%;
}

.timer-timer {
  font-size: 3.5em;
  margin-bottom: -1em;
  margin-top: -.8em;
}

.timer-client {
  display: flex;
  background-color: #A9A9A9;
  height: 66%;
  width: 33%;
  justify-content: center;
  align-content: center;
  color: white;
  border-radius: 3px;
  box-shadow: 0.2em 0.2em .4em #00000090;
  z-index: 2;
}

.timer-client p {
  margin-top: 1.2em;
  font-size: 3em;
}

.fouls {
  background-color: #2490EB;
  height: 50%;
  width: 17%;
  color: white;
  border-radius: 3px;
}

.points-admin {
  background-color: #2490EB;
  height: 50%;
  width: 17%;
  color: white;
  border-radius: 3px;
}

.points-client {
  background-color: #D8D8D8;
  height: 50%;
  width: 17%;
  color: white;
  border-radius: 3px;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 0.2em 0.2em .4em #00000090;
}

.points-client h4 {
  margin-bottom: -1em;
}

.points-client p {
  font-size: 1.5em;
}

.key-title{
  background-color: white;
  margin-bottom: 10px;
  height: 30%;
  padding: 5px;
  border-radius: 3px;
}

.key-play {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.key-play p {
  margin-left: 1em;
}

.key-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  border-radius: 3px;
}

.key {
  color: white;
  background-color: #2490EB;
  width: 25%;
  height: 35px;
  margin: 2px;
  text-align: center;
  vertical-align: center;
  font-size: 13px;
  border-radius: 3px;
}

.key:hover {
  background-color: #1964a4;
}

.play-container-admin {
  background-color: white;
  height: 47%;
  border-radius: 3px;
  padding: 10px;
}

.play-container-client {
  background-color: white;
  height: 90%;
  border-radius: 3px;
  padding: 10px;
}

.scrolling-table {
  max-height: 80%;
  overflow-y: auto;
}

.play {
  height: 80%;
  width: 100%;
  border: 1px solid #f2f2f2;
  table-layout: auto;
}

.play-title-admin {
  height: 10%;
  width: 100%;
}

.play-title-client {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
}

.player tr {
  background-color: #669AE5;
  vertical-align: center;
  text-align: center;
  border-radius: 3px;
}

.player th {
  background-color: #064093;
  vertical-align: center;
  text-align: center;
  border-radius: 3px;
}

.play tr:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 3px;
}

.client {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#0262B299, #0262B299), url(https://www.fantasycouch.com/wp-content/uploads/2017/01/nba-basketball.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  border-radius: 3px;
  padding: 0.625em;
}

.client-main {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 66%;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.logo-container {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  border-radius: 3px;
  padding: 0.625em;
  align-items: center;
  text-align: center;
}

.home-logo {
  height: 11em;
  width: 9em;
  margin-right: 0.625em;
}

.away-logo {
  height: 11em;
  width: 12em;
  margin-right: 0.625em;
}

.details-container {
  display: flex;
  flex-direction: row;
  background-color: #ebebeb;
  height: 80%;
  width: 100%;
  border-radius: 3px;
}

.plays-stats {
  width: 70%;
  height: 100%;
  margin-right: 3%;
  border-radius: 3px;
}

.top-title {
  font-weight: bold;
}

.top-players {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  height: 93.5%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: 0.2em 0.2em .4em #00000090;
}

.plays-client {
  background-color: white;
  margin: 10px;
  height: 60%;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0.2em 0.2em .4em #00000090;
}

.team-client {
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 3px;
  margin-left: 10px;
  box-shadow: 0.2em 0.2em .4em #00000090;
}

.player-card {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin: 10px;
  background-color: #ebebeb;
  border-radius: 3px;
  box-shadow: 0.2em 0.2em .4em #00000090;
}

.player-image img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.player-details {
  margin-left: 10px;
}

.player-details p {
  margin-bottom: -.5em;
}

table {
  height: 100%;
  width: 100%;
}

.game-keys {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sign-in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#0262B299, #0262B299), url(https://www.fantasycouch.com/wp-content/uploads/2017/01/nba-basketball.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #0262B2; */
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40%;
  width: 40%;
  background-color: white;
  border-radius: 3px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.sign-in-container img {
  height: 70px;
  width: 100%;
}

.sign-in-container form {
  margin-top: 10px;
  font-size: 2em;
}

.sign-in-container input {
  font-size: 1em;
  height: 40px;
  width: 200px;
}

.page-keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.page-key {
  background-color: grey;
  background-image: linear-gradient(#ebebeb, lightgrey);
  margin: 10px;
  padding: 5px;
  border-radius: 3px;
  font-size: .8em;
}

.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230vh;
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  background-image: linear-gradient(#0262B299, #0262B299), url(https://www.fantasycouch.com/wp-content/uploads/2017/01/nba-basketball.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.charts {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 70%;
  background-color: white;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 3px;
}
